.dash{margin-left:225px;}
.titile-bar-headers{padding:10px 10px; background:#4fb948}
.vital-states-container{padding:30px 20px; background:#ebebeb; overflow:hidden}
.schooling-table{width:900px; margin:0 auto; background:#d8d8d8;}
.schooling-table th{border:none; background:#4fb948; color:#fff; padding:10px 0; text-align: center}
.schooling-table td{text-align: center}
.schooling-table tr{border-bottom:2px solid #f7f7f7}
.backbtn{width:100px; margin: 20px auto;}