.login-container{background:#d2d2d2; padding:100px 50px 0;}
.img-center{margin:0 auto}
.login-logo{width:202px; margin-bottom:100px;}
.login{width:300px; margin:0 auto}
.login-checkbox{float:left;}
.login-checkbox span a{margin-left:70px; color:#333;}
.forgot-password{margin-left:30px}
