.dash{margin-left:225px;}
.titile-bar-headers{padding:10px 10px; background:#4fb948}
.vital-states-container{padding:30px 20px; background:#ebebeb; overflow:hidden}
.jobs-viewed{border:1px solid #333333; margin:0 42px}
.icon{float:right;}
.jobs-viewed-details span{text-align:center; display:block}