.dash{margin-left:225px;}
.titile-bar-headers{padding:10px 10px; background:#4fb948; color:#fff;}
.vital-states-container{padding:30px 20px; background:#ebebeb; overflow:hidden}
.personal-details{padding:30px 20px; background:#ebebeb; overflow:hidden}
.active-table{width:600px; margin:50px 0 0 50px; text-align: center;}
.active-table th{text-align: center; padding:10px 0}
.tab-content{margin:50px 0}
.message{margin-top: 50px}
