<app-navbar></app-navbar>

<div class="dash">
    <div class="bread">
        <ul>
            <li><a routerLink="/Dashboard"><i class="fa fa-dashboard"></i>Dashboard</a></li>
        </ul>
    </div>
    
            <div class="col-lg-12 schooling">
                <div class="titile-bar-headers">
                    <span>Priority Plan History</span>
                </div>
                <div class="vital-states">
                    <table class="schooling-table">
                        <tr>
                            <th style="width:150px">Label</th>
                            <th style="width:150px">Period</th>
                            <th style="width:100px">No of Job Posts</th>
                            <th style="width:200px">Companies Enrolled</th>
                            <th style="width:150px">Action</th>
                        </tr>
                        <tr *ngFor="let priority of data">
                            <td>{{priority.label_name}}</td>
                            <td>{{priority.plan_start_date}} - {{priority.plan_end_date}}</td>
                            <td>{{priority.no_of_jobs}}</td>
                            <td>{{priority.companies_enrolled}}</td>
                            <td><button (click)="priority_plan_history_view('priority', priority.label_name)"><img src="assets/images/view-icon.png" style="widht:20px; height:20px"></button>
                            <button (click)="priority_plan_history_makecopy('priority', priority.label_name)"><img src="assets/images/copy.png" style="widht:20px; height:20px"></button>
                            <button (click)="priority_plan_history_users('priority', priority.label_name)"><img src="assets/images/users.jpg" style="widht:20px; height:20px"></button>
                            </td>
                            <!--<td>{{school.candidate_jn_grad_cour_spec_id}}</td>-->
                        </tr>
                    </table>
                    <div class="backbtn"><button type="button" (click)="back()">Back</button></div>
                </div>
            </div>  
    
</div>